@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    @apply transition duration-300 ease-in-out;
}

body {
    font-family: @apply font-mono;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black
}

.navbar-fixed {
    @apply fixed z-50 bg-slate-100 bg-opacity-50;
    backdrop-filter: blue(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    @apply transition ease-in-out duration-300;
}

.hamburger-active>span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active>span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

.hamburger-active>span:nth-child(2) {
    @apply scale-0;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(139, 23, 185), rgb(237, 237, 241));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}